# 1)

In [6]:
print("""Change Km to miles
.................""")
km = float(input("Enter distance in km: "))
miles = km * 0.621
print(f"Distance in miles is {miles}")

Change Km to miles
.................
Enter distance in km: 100
Distance in miles is 62.1

# 2)

In [10]:
#°F = °C× (9/5)+32

print("""Convert Celsius to Fahrenheit
..................""")

C= float(input("Enter temprature in Celcius: "))

F = C * (9/5) + 32

print(f"Temprature in Farenheit is: {F}")

Convert Celsius to Fahrenheit
..................
Enter temprature in Celcius: 42
Temprature in Farenheit is: 107.60000000000001

# 3)

In [8]:

import calendar

year = int(input("Enter the year in format YYYY: "))

print(calendar.calendar(year))

Enter the year in format YYYY: 2003
                                  2003

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [7]:
import calendar
 
yy = 1997
 
# display the calendar
print(calendar.calendar(yy))

                                  1997

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

# 4
ax2 + bx + c = 0

In [21]:
a=int(input("Enter the value of a in ax2 + bx + c = 0"))
b=int(input("Enter the value of b in ax2 + bx + c = 0"))
c=int(input("Enter the value of c in ax2 + bx + c = 0"))

print(f"Your quadratic equation is {a}x2 + {b}x + {c}")
x1 = ((-1*b) + ((b*b) - (4*a*c))**(1/2))/(2*a)
x2 = ((-1*b) - ((b*b) - (4*a*c))**(1/2))/(2*a)


print(f"Factors of quadratic equation {a}x2 + {b}x + {c} are x= {x1} and x= {x2}")

Enter the value of a in ax2 + bx + c = 01
Enter the value of b in ax2 + bx + c = 03
Enter the value of c in ax2 + bx + c = 0-10
Your quadratic equation is 1x2 + 3x + -10
Factors of quadratic equation 1x2 + 3x + -10 are x= 2.0 and x= -5.0

# 5

In [1]:
a=5
b=6
print(f"Number before swapping is a= {a} and b= {b}")
print("...............")
a,b = b,a
print(f"Number after swapping is a= {a} and b= {b}")

Number before swapping is a= 5 and b= 6
...............
Number after swapping is a= 6 and b= 5